In [1]:
import pandas as pd
from pandas import Series, DataFrame
import numpy as np
import matplotlib.pyplot as plt 
import chardet
import os
import seaborn as sns

import warnings
warnings.filterwarnings('ignore') 
import xlwt

# linear model library

import statsmodels.api as sm  # linear regression utiliza todas las columnas de base de datos 
import statsmodels.formula.api as smf  # linear regression usa uan formula
from sklearn import datasets, linear_model # models 
from sklearn.metrics import mean_squared_error, r2_score
from linearmodels.iv import IV2SLS # for IV regression

import warnings
warnings.filterwarnings('ignore') # eliminar warning messages 


# Export latex table 

from pystout import pystout

C:\Users\Roberto\anaconda3\lib\site-packages\scipy\__init__.py:146: UserWarning: A NumPy version >=1.16.5 and <1.23.0 is required for this version of SciPy (detected version 1.24.1
  warnings.warn(f"A NumPy version >={np_minversion} and <{np_maxversion}"

In [2]:
raw_data = pd.read_excel(r'../1. datos/data_papa_1997_mayo2021_grupos.xls')
dep_prov_code = pd.read_excel(r'../1. datos/psi_prov.xls')
senami = pd.read_excel(r'../1. datos/psi_senami.xlsx', sheet_name = 'Hoja2')

data_import = pd.read_excel(r'../1. datos/psi_prov.xls', sheet_name = 'Hoja1')

In [3]:
data_import

    year  import
0   2005   16945
1   2006   19536
2   2007   13578
3   2008   23019
4   2009   20218
5   2010   21231
6   2011   22669
7   2012   36214
8   2013   35790
9   2014   40793
10  2015   50398
11  2016   50811
12  2017   52938

In [4]:
raw_data

              mm  year  nmes       variedad    provincia  volumen  precio
0     1997-01-01  1997     1     Papa Color   Concepcion   120.60    0.55
1     1997-01-01  1997     1    Papa Blanca         Ambo    33.72    0.56
2     1997-01-01  1997     1    Papa Blanca      Huanuco  2979.13    0.56
3     1997-01-01  1997     1    Papa Blanca  Andahuaylas    14.16    0.56
4     1997-01-01  1997     1     Papa Color        Junin    67.68    0.55
...          ...   ...   ...            ...          ...      ...     ...
21328 2021-05-01  2021     5    Papa Yungay      Abancay    20.00    0.78
21329 2021-05-01  2021     5    Papa Blanca         Lima   893.00    0.79
21330 2021-05-01  2021     5   Papa Canchan        Jauja    24.00    1.38
21331 2021-05-01  2021     5  Papa Amarilla         Ambo   576.00    1.71
21332 2021-05-01  2021     5   Papa Canchan        Tarma    68.00    1.38

[21333 rows x 7 columns]

In [5]:
raw_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21333 entries, 0 to 21332
Data columns (total 7 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   mm         21333 non-null  datetime64[ns]
 1   year       21333 non-null  int64
 2   nmes       21333 non-null  int64
 3   variedad   21333 non-null  object
 4   provincia  21333 non-null  object
 5   volumen    21333 non-null  float64
 6   precio     21333 non-null  float64
dtypes: datetime64[ns](1), float64(2), int64(2), object(2)
memory usage: 1.1+ MB

In [6]:
dep_prov_code

         provincia  ubigeo
0          Abancay       3
1         Acobamba       9
2             Aija       2
3             Ambo       2
4      Andahuaylas       3
..             ...     ...
101  Vilcas Huaman       5
102           Viru       2
103          Yauli      12
104         Yauyos      15
105         Yungay       2

[106 rows x 2 columns]

In [7]:
dep_prov_code.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 106 entries, 0 to 105
Data columns (total 2 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   provincia  106 non-null    object
 1   ubigeo     106 non-null    int64
dtypes: int64(1), object(1)
memory usage: 1.8+ KB

In [8]:
senami

,dep,ubigeo,1997,1998,1999,2000,2001,2002,2003,2004,...,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018
0,Amazonas,1,0.50,1.30,1.93,0.67,0.08,0.17,-0.79,-1.76,...,1.48,-0.35,0.34,0.85,-0.14,-0.14,0.47,-0.51,2.21,-0.72
1,Tacna,23,0.89,-0.03,1.52,0.97,1.65,0.74,-0.39,0.25,...,-0.14,-0.74,0.62,1.26,0.29,-0.96,0.84,-0.12,0.94,0.19
2,San Martin,22,-0.23,0.56,2.42,-0.13,0.14,-1.12,-0.68,-2.49,...,0.85,-1.21,0.21,0.03,1.28,0.73,1.43,-0.25,2.33,-0.54
3,Puno,21,1.15,-0.05,1.11,0.49,2.70,0.49,0.06,-0.54,...,-0.12,0.57,0.29,1.15,0.00,-0.72,0.52,-1.11,0.20,0.17
4,Piura,20,-0.69,2.89,0.46,0.05,0.94,0.56,-0.76,-1.21,...,0.71,0.18,-0.97,1.09,-0.32,-0.77,0.21,0.34,1.95,-1.19
5,Pasco,19,-0.13,0.60,1.95,0.84,1.43,-0.10,-0.19,-1.15,...,0.59,0.45,0.71,0.15,0.32,0.26,0.75,-1.00,0.47,-0.80
6,Moquegua,18,0.70,0.04,1.23,0.97,1.77,0.92,-0.33,0.31,...,-0.41,-0.66,0.75,1.39,0.27,-0.71,0.96,-0.50,1.18,-0.05
7,Lima,15,-1.01,1.25,0.95,0.93,1.29,-0.09,-0.17,-1.13,...,1.12,-0.53,0.42,0.41,0.24,0.21,0.31,-1.03,2.47,0.33
8,Lambayeque,14,-0.87,3.05,0.35,0.24,0.85,0.42,-0.69,-0.91,...,0.80,0.32,-0.77,0.94,-0.14,-0.77,0.65,0.37,2.25,-0.85
9,JunÃ­n,12,-0.26,0.96,1.39,1.15,1.24,0.31,-0.05,-1.02,...,0.21,0.60,1.18,0.76,0.31,0.35,1.20,-0.84,1.12,-0.14
10,HuÃ¡nuco,10,-0.31,0.45,2.19,1.18,0.40,0.09,-0.33,-1.31,...,0.93,-0.40,1.69,-0.30,0.74,0.15,0.27,-1.10,1.02,-0.78
11,Huancavelica,9,-0.89,0.82,0.65,0.68,1.08,0.59,0.46,-0.60,...,0.33,-0.08,1.49,0.53,0.07,0.27,0.37,-0.89,2.27,0.78
12,Cusco,8,0.68,0.82,1.72,0.72,2.32,0.79,0.47,-0.82,...,-0.02,0.64,0.97,1.24,0.28,0.06,1.29,-0.91,0.41,-0.12
13,Cajamarca,6,-0.77,1.82,1.20,0.62,1.03,-0.08,-0.98,-1.74,...,1.24,-0.14,-0.49,0.82,-0.14,-0.28,0.61,-0.34,1.60,-0.61
14,Ayacucho,5,-0.38,0.88,0.97,0.97,1.14,0.25,0.05,-0.41,...,0.45,-0.26,1.13,1.02,0.30,0.07,0.60,-0.70,1.88,0.41
15,ApurÃ­mac,3,-0.04,0.50,1.09,1.33,1.40,0.07,0.48,-0.42,...,0.03,-0.11,1.41,1.58,0.24,0.12,0.68,-0.91,1.52,0.38
16,Ancash,2,-1.00,2.22,1.41,0.08,1.28,-0.13,-0.86,-1.66,...,1.58,-0.28,-0.31,0.50,0.81,0.57,0.15,-0.59,1.07,0.10
17,Tumbes,24,-0.40,2.58,0.23,-0.19,0.63,0.80,-0.55,-0.56,...,0.68,0.42,-0.86,0.89,-0.09,-0.87,0.31,0.63,1.82,-1.15
18,La Libertad,13,-1.13,2.10,1.53,0.36,1.32,-0.02,-0.68,-1.50,...,1.21,-0.14,0.05,0.55,0.86,0.46,0.48,-0.28,1.09,-0.24
19,Arequipa,4,0.22,0.31,1.52,1.15,1.42,0.72,-0.22,0.13,...,0.09,-0.25,0.53,1.34,0.50,-0.65,0.78,-0.54,1.17,0.12

In [9]:
senami = pd.melt(senami, id_vars = ['dep','ubigeo'],
                 value_vars = map(str, range(1997,2019)), var_name = 'year', value_name = 'spi')

In [10]:
senami['year'] = senami.year.astype('int64')
senami

             dep  ubigeo  year   spi
0       Amazonas       1  1997  0.50
1          Tacna      23  1997  0.89
2     San Martin      22  1997 -0.23
3           Puno      21  1997  1.15
4          Piura      20  1997 -0.69
..           ...     ...   ...   ...
435     ApurÃ­mac       3  2018  0.38
436       Ancash       2  2018  0.10
437       Tumbes      24  2018 -1.15
438  La Libertad      13  2018 -0.24
439     Arequipa       4  2018  0.12

[440 rows x 4 columns]

In [11]:
senami.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 440 entries, 0 to 439
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   dep     440 non-null    object
 1   ubigeo  440 non-null    int64
 2   year    440 non-null    int64
 3   spi     440 non-null    float64
dtypes: float64(1), int64(2), object(1)
memory usage: 13.9+ KB

In [12]:
raw_data['month'] = raw_data.mm.dt.month
raw_data['year'] = raw_data.mm.dt.year

In [13]:
raw_data

,mm,year,nmes,variedad,provincia,volumen,precio,month
0,1997-01-01,1997,1,Papa Color,Concepcion,120.60,0.55,1
1,1997-01-01,1997,1,Papa Blanca,Ambo,33.72,0.56,1
2,1997-01-01,1997,1,Papa Blanca,Huanuco,2979.13,0.56,1
3,1997-01-01,1997,1,Papa Blanca,Andahuaylas,14.16,0.56,1
4,1997-01-01,1997,1,Papa Color,Junin,67.68,0.55,1
...,...,...,...,...,...,...,...,...
21328,2021-05-01,2021,5,Papa Yungay,Abancay,20.00,0.78,5
21329,2021-05-01,2021,5,Papa Blanca,Lima,893.00,0.79,5
21330,2021-05-01,2021,5,Papa Canchan,Jauja,24.00,1.38,5
21331,2021-05-01,2021,5,Papa Amarilla,Ambo,576.00,1.71,5
21332,2021-05-01,2021,5,Papa Canchan,Tarma,68.00,1.38,5

In [14]:
raw_data_2trim = raw_data[ ( raw_data.year.isin(range(1997,2020)) ) &\
                          (raw_data.variedad == "Papa Blanca")]

In [15]:
# Filtro de provincias 

raw_data_2trim = raw_data_2trim[~ raw_data_2trim.provincia.isin(['Sin Especificacion',
                                                                'Procedencia Desconocida',
                                                                'Camara Frigorifico',
                                                                ])]

In [16]:
raw_data_2trim.provincia.unique()

array(['Ambo', 'Huanuco', 'Andahuaylas', 'Callao', 'Huaral', 'Concepcion',
       'Pachitea', 'Huancayo', 'Oxapampa', 'Tayacaja', 'Huaura', 'Lima',
       'Canete', 'Huancavelica', 'Pasco', 'Barranca', 'Arequipa', 'Canta',
       'Ascope', 'Junin', 'Camana', 'Jauja', 'Tarma', 'Caylloma', 'Santa',
       'Huamanga', 'Sullana', 'Acobamba', 'Chincha', 'Castilla',
       'Trujillo', 'Abancay', 'Huari', 'Huarmey', 'Lambayeque',
       'Dos De Mayo', 'Tocache', 'Chiclayo', 'Daniel Alcides Carrion',
       'Pacasmayo', 'Nazca', 'Ica', 'Cajamarca', 'Chincheros', 'Caraveli',
       'Chanchamayo', 'Pisco', 'Palpa', 'Islay', 'Yauyos', 'Huarochiri',
       'Casma', 'Satipo', 'Huaraz', 'Carhuaz', 'Oyon', 'Yungay',
       'Cangallo', 'Huaylas', 'Paucartambo', 'Cotabambas', 'Cusco',
       'Churcampa', 'Jaen', 'Acomayo', 'Cajatambo', 'Lucanas',
       'Castrovirreyna', 'Aija', 'Antabamba', 'Bolognesi',
       'Leoncio Prado', 'Huanta', 'Huamalies', 'Yauli', 'Huaytara',
       'Mariscal Nieto', 'Angaraes', 'Chepen', 'Mariscal Luzuriaga',
       'La Mar', 'Condesuyos', 'Aymaraes', 'Chota', 'Cutervo', 'Pallasca',
       'Vilcas Huaman', 'Huaycabamba', 'Huanca Sancos', 'Bagua',
       'Chachapoyas', 'Celendin', 'Sanchez Carrion', 'Contumaza',
       'Cajabamba', 'Otuzco', 'San Marcos', 'Sucre', 'Sandia', 'Espinar',
       'Santiago De Chuco', 'Puno', 'San Ignacio', 'Parinacochas',
       'Paucar Del Sar Sara', 'Victor Fajardo', 'Chupaca', 'Azangaro',
       'Tahuamanu', 'Maranon', 'Rioja', 'Viru', 'San Pablo', 'Bolivar',
       'Julcan', 'Antonio Raymondi'], dtype=object)

In [17]:
raw_data_2trim.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 7464 entries, 1 to 19670
Data columns (total 8 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   mm         7464 non-null   datetime64[ns]
 1   year       7464 non-null   int64
 2   nmes       7464 non-null   int64
 3   variedad   7464 non-null   object
 4   provincia  7464 non-null   object
 5   volumen    7464 non-null   float64
 6   precio     7464 non-null   float64
 7   month      7464 non-null   int64
dtypes: datetime64[ns](1), float64(2), int64(3), object(2)
memory usage: 524.8+ KB

In [18]:
raw_data_2trim = pd.merge(raw_data_2trim, dep_prov_code, on = 'provincia', how = 'left').merge(senami,
                                on = ['ubigeo','year'], how = 'left').merge(data_import, on = 'year', how = 'left')

In [19]:
raw_data_2trim

,mm,year,nmes,variedad,provincia,volumen,precio,month,ubigeo,dep,spi,import
0,1997-01-01,1997,1,Papa Blanca,Ambo,33.72,0.56,1,2.0,Ancash,-1.00,NaN
1,1997-01-01,1997,1,Papa Blanca,Huanuco,2979.13,0.56,1,10.0,HuÃ¡nuco,-0.31,NaN
2,1997-01-01,1997,1,Papa Blanca,Andahuaylas,14.16,0.56,1,3.0,ApurÃ­mac,-0.04,NaN
3,1997-01-01,1997,1,Papa Blanca,Callao,258.24,0.56,1,15.0,Lima,-1.01,NaN
4,1997-01-01,1997,1,Papa Blanca,Huaral,7360.68,0.56,1,15.0,Lima,-1.01,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
7459,2019-12-01,2019,12,Papa Blanca,Huanta,88.00,1.17,12,5.0,NaN,NaN,NaN
7460,2019-12-01,2019,12,Papa Blanca,Canta,66.00,1.17,12,15.0,NaN,NaN,NaN
7461,2019-12-01,2019,12,Papa Blanca,Pasco,884.00,1.17,12,19.0,NaN,NaN,NaN
7462,2019-12-01,2019,12,Papa Blanca,Huancavelica,120.00,1.17,12,9.0,NaN,NaN,NaN
7463,2019-12-01,2019,12,Papa Blanca,Ica,192.00,1.17,12,11.0,NaN,NaN,NaN

In [20]:
raw_data_2trim.provincia.unique()

array(['Ambo', 'Huanuco', 'Andahuaylas', 'Callao', 'Huaral', 'Concepcion',
       'Pachitea', 'Huancayo', 'Oxapampa', 'Tayacaja', 'Huaura', 'Lima',
       'Canete', 'Huancavelica', 'Pasco', 'Barranca', 'Arequipa', 'Canta',
       'Ascope', 'Junin', 'Camana', 'Jauja', 'Tarma', 'Caylloma', 'Santa',
       'Huamanga', 'Sullana', 'Acobamba', 'Chincha', 'Castilla',
       'Trujillo', 'Abancay', 'Huari', 'Huarmey', 'Lambayeque',
       'Dos De Mayo', 'Tocache', 'Chiclayo', 'Daniel Alcides Carrion',
       'Pacasmayo', 'Nazca', 'Ica', 'Cajamarca', 'Chincheros', 'Caraveli',
       'Chanchamayo', 'Pisco', 'Palpa', 'Islay', 'Yauyos', 'Huarochiri',
       'Casma', 'Satipo', 'Huaraz', 'Carhuaz', 'Oyon', 'Yungay',
       'Cangallo', 'Huaylas', 'Paucartambo', 'Cotabambas', 'Cusco',
       'Churcampa', 'Jaen', 'Acomayo', 'Cajatambo', 'Lucanas',
       'Castrovirreyna', 'Aija', 'Antabamba', 'Bolognesi',
       'Leoncio Prado', 'Huanta', 'Huamalies', 'Yauli', 'Huaytara',
       'Mariscal Nieto', 'Angaraes', 'Chepen', 'Mariscal Luzuriaga',
       'La Mar', 'Condesuyos', 'Aymaraes', 'Chota', 'Cutervo', 'Pallasca',
       'Vilcas Huaman', 'Huaycabamba', 'Huanca Sancos', 'Bagua',
       'Chachapoyas', 'Celendin', 'Sanchez Carrion', 'Contumaza',
       'Cajabamba', 'Otuzco', 'San Marcos', 'Sucre', 'Sandia', 'Espinar',
       'Santiago De Chuco', 'Puno', 'San Ignacio', 'Parinacochas',
       'Paucar Del Sar Sara', 'Victor Fajardo', 'Chupaca', 'Azangaro',
       'Tahuamanu', 'Maranon', 'Rioja', 'Viru', 'San Pablo', 'Bolivar',
       'Julcan', 'Antonio Raymondi'], dtype=object)

In [21]:
#data_excel = pd.DataFrame({'dep':raw_data_2trim.provincia.unique()})

In [22]:
#data_excel.to_excel(r'1. datos/psi_prov.xls')

In [23]:
raw_data_2trim.month.value_counts()

8     728
7     681
9     664
10    645
2     644
4     630
3     626
1     591
11    580
6     578
5     563
12    534
Name: month, dtype: int64

In [24]:
#raw_data_2trim.provincia.value_counts()

In [25]:
# variables en logaritmos 
raw_data_2trim['ln_price'] = np.log(raw_data_2trim.precio)

raw_data_2trim['ln_vol'] = np.log(raw_data_2trim.volumen)

In [26]:
raw_data_2trim

,mm,year,nmes,variedad,provincia,volumen,precio,month,ubigeo,dep,spi,import,ln_price,ln_vol
0,1997-01-01,1997,1,Papa Blanca,Ambo,33.72,0.56,1,2.0,Ancash,-1.00,NaN,-0.579818,3.518091
1,1997-01-01,1997,1,Papa Blanca,Huanuco,2979.13,0.56,1,10.0,HuÃ¡nuco,-0.31,NaN,-0.579818,7.999387
2,1997-01-01,1997,1,Papa Blanca,Andahuaylas,14.16,0.56,1,3.0,ApurÃ­mac,-0.04,NaN,-0.579818,2.650421
3,1997-01-01,1997,1,Papa Blanca,Callao,258.24,0.56,1,15.0,Lima,-1.01,NaN,-0.579818,5.553889
4,1997-01-01,1997,1,Papa Blanca,Huaral,7360.68,0.56,1,15.0,Lima,-1.01,NaN,-0.579818,8.903908
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7459,2019-12-01,2019,12,Papa Blanca,Huanta,88.00,1.17,12,5.0,NaN,NaN,NaN,0.157004,4.477337
7460,2019-12-01,2019,12,Papa Blanca,Canta,66.00,1.17,12,15.0,NaN,NaN,NaN,0.157004,4.189655
7461,2019-12-01,2019,12,Papa Blanca,Pasco,884.00,1.17,12,19.0,NaN,NaN,NaN,0.157004,6.784457
7462,2019-12-01,2019,12,Papa Blanca,Huancavelica,120.00,1.17,12,9.0,NaN,NaN,NaN,0.157004,4.787492
7463,2019-12-01,2019,12,Papa Blanca,Ica,192.00,1.17,12,11.0,NaN,NaN,NaN,0.157004,5.257495

In [27]:
# SelcciÃ³n de provincias 
total = raw_data_2trim[raw_data_2trim.year ==2005].volumen.sum()

raw_data_2trim[raw_data_2trim.year == 2005].groupby('dep').agg(total_dep = ( 'volumen', np.sum ))*(100/total)

              total_dep
dep
Ancash         1.809928
ApurÃ­mac       3.408451
Arequipa       3.373449
Ayacucho      19.077244
Cajamarca      0.016816
Cusco          0.016940
Huancavelica   1.394447
HuÃ¡nuco       14.934083
JunÃ­n         21.406949
La Libertad    0.123256
Lambayeque     0.032379
Lima          23.314183
Pasco          5.608285
Piura          0.023508

In [28]:
# SelcciÃ³n de provincias 
total = raw_data_2trim[raw_data_2trim.year ==2010].volumen.sum()

raw_data_2trim[raw_data_2trim.year == 2010].groupby('dep').agg(total_dep = ( 'volumen', np.sum ))*(100/total)

              total_dep
dep
Ancash         4.891262
ApurÃ­mac       2.872130
Arequipa       1.768388
Ayacucho      13.903192
Cajamarca      0.014126
Cusco          0.002590
Huancavelica   0.818389
HuÃ¡nuco       15.076388
JunÃ­n         23.343387
La Libertad    3.586690
Lambayeque     0.004238
Lima          21.959236
Pasco          4.382241

In [29]:
# SelcciÃ³n de provincias 
total = raw_data_2trim[raw_data_2trim.year ==2015].volumen.sum()

raw_data_2trim[raw_data_2trim.year == 2015].groupby('dep').agg(total_dep = ( 'volumen', np.sum ))*(100/total)

              total_dep
dep
Ancash         3.919281
ApurÃ­mac       3.292256
Arequipa       3.467124
Ayacucho      15.429562
Huancavelica   0.727449
HuÃ¡nuco       21.472984
JunÃ­n         29.864877
La Libertad    1.166117
Lima           7.658699
Pasco          4.425398
Piura          0.004996

In [30]:
# SelcciÃ³n de provincias 
total = raw_data_2trim[raw_data_2trim.year ==2017].volumen.sum()

raw_data_2trim[raw_data_2trim.year == 2017].groupby('dep').agg(total_dep = ( 'volumen', np.sum ))*(100/total)

              total_dep
dep
Ancash         9.443492
ApurÃ­mac       2.591122
Arequipa       3.717805
Ayacucho      13.010203
Huancavelica   0.867464
HuÃ¡nuco       22.466022
JunÃ­n         30.857145
La Libertad    0.084880
Lima           6.110640
Pasco          4.029500
Piura          0.008805

In [31]:
# se selecciona Lima, Junin, Pasco, arequipa , ayacucho y apirimac

In [32]:
dataf = raw_data_2trim[raw_data_2trim.ubigeo.isin([12,10,5])]

In [33]:
dataf.dep.unique()

array(['HuÃ¡nuco', 'JunÃ­n', 'Ayacucho', nan], dtype=object)

In [34]:
dataf.to_excel(r'../1. datos/data_clean.xls')

In [35]:
dataf.columns

Index(['mm', 'year', 'nmes', 'variedad', 'provincia', 'volumen', 'precio',
       'month', 'ubigeo', 'dep', 'spi', 'import', 'ln_price', 'ln_vol'],
      dtype='object')

# Linear Regression

In [36]:
dataf['trim1'] = np.where(dataf.month.isin(range(1,4)),1 ,0)
dataf['trim2'] = np.where(dataf.month.isin(range(4,7)),1 ,0)
dataf['trim3'] = np.where(dataf.month.isin(range(7,10)),1 ,0)
dataf['trim4'] = np.where(dataf.month.isin(range(10,13)),1 ,0)
dataf['ln_import'] = np.log(dataf['import'])
dataf['spi_lag'] = dataf['spi'].shift(1)

In [37]:
dataf

,mm,year,nmes,variedad,provincia,volumen,precio,month,ubigeo,dep,spi,import,ln_price,ln_vol,trim1,trim2,trim3,trim4,ln_import,spi_lag
1,1997-01-01,1997,1,Papa Blanca,Huanuco,2979.13,0.56,1,10.0,HuÃ¡nuco,-0.31,NaN,-0.579818,7.999387,1,0,0,0,NaN,NaN
5,1997-01-01,1997,1,Papa Blanca,Concepcion,79.44,0.56,1,12.0,JunÃ­n,-0.26,NaN,-0.579818,4.375002,1,0,0,0,NaN,-0.31
6,1997-01-01,1997,1,Papa Blanca,Pachitea,978.36,0.56,1,10.0,HuÃ¡nuco,-0.31,NaN,-0.579818,6.885878,1,0,0,0,NaN,-0.26
7,1997-01-01,1997,1,Papa Blanca,Huancayo,1170.75,0.56,1,12.0,JunÃ­n,-0.26,NaN,-0.579818,7.065400,1,0,0,0,NaN,-0.31
8,1997-01-01,1997,1,Papa Blanca,Oxapampa,10.20,0.56,1,12.0,JunÃ­n,-0.26,NaN,-0.579818,2.322388,1,0,0,0,NaN,-0.26
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7449,2019-12-01,2019,12,Papa Blanca,Huanuco,9557.00,1.17,12,10.0,NaN,NaN,NaN,0.157004,9.165029,0,0,0,1,NaN,NaN
7450,2019-12-01,2019,12,Papa Blanca,Tarma,2867.00,1.17,12,12.0,NaN,NaN,NaN,0.157004,7.961021,0,0,0,1,NaN,NaN
7451,2019-12-01,2019,12,Papa Blanca,Huancayo,4446.00,1.17,12,12.0,NaN,NaN,NaN,0.157004,8.399760,0,0,0,1,NaN,NaN
7453,2019-12-01,2019,12,Papa Blanca,Huamanga,324.00,1.17,12,5.0,NaN,NaN,NaN,0.157004,5.780744,0,0,0,1,NaN,NaN
7459,2019-12-01,2019,12,Papa Blanca,Huanta,88.00,1.17,12,5.0,NaN,NaN,NaN,0.157004,4.477337,0,0,0,1,NaN,NaN

In [38]:
dataf['import'].value_counts()

13578.0    155
19536.0    148
23019.0    147
20218.0    139
22669.0    134
21231.0    133
16945.0    132
35790.0    131
52938.0    131
36214.0    127
50398.0    118
40793.0    116
50811.0    114
Name: import, dtype: int64

In [39]:
len(dataf.provincia.unique())

30

In [40]:
dataf.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2911 entries, 1 to 7459
Data columns (total 20 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   mm         2911 non-null   datetime64[ns]
 1   year       2911 non-null   int64
 2   nmes       2911 non-null   int64
 3   variedad   2911 non-null   object
 4   provincia  2911 non-null   object
 5   volumen    2911 non-null   float64
 6   precio     2911 non-null   float64
 7   month      2911 non-null   int64
 8   ubigeo     2911 non-null   float64
 9   dep        2777 non-null   object
 10  spi        2777 non-null   float64
 11  import     1725 non-null   float64
 12  ln_price   2911 non-null   float64
 13  ln_vol     2911 non-null   float64
 14  trim1      2911 non-null   int32
 15  trim2      2911 non-null   int32
 16  trim3      2911 non-null   int32
 17  trim4      2911 non-null   int32
 18  ln_import  1725 non-null   float64
 19  spi_lag    2777 non-null   float64
dtypes: datetime64[ns](1), float64(9), int32(4), int64(3), object(3)
memory usage: 432.1+ KB

In [41]:
# Modelos base

formula_model1 = "precio ~ ln_vol"

ols_model1 = smf.ols(formula_model1, data=dataf).fit(cov_type='cluster', cov_kwds={'groups': dataf['ubigeo']})

print(ols_model1.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                 precio   R-squared:                       0.000
Model:                            OLS   Adj. R-squared:                 -0.000
Method:                 Least Squares   F-statistic:                    0.1873
Date:                Mon, 06 Mar 2023   Prob (F-statistic):              0.707
Time:                        08:51:17   Log-Likelihood:                -438.73
No. Observations:                2911   AIC:                             881.5
Df Residuals:                    2909   BIC:                             893.4
Df Model:                           1
Covariance Type:              cluster
==============================================================================
                 coef    std err          z      P>|z|      [0.025      0.975]
------------------------------------------------------------------------------
Intercept      0.7160      0.003    221.436      0.000       0.710       0.722
ln_vol        -0.0002      0.000     -0.433      0.665      -0.001       0.001
==============================================================================
Omnibus:                      865.783   Durbin-Watson:                   0.022
Prob(Omnibus):                  0.000   Jarque-Bera (JB):             2429.223
Skew:                           1.561   Prob(JB):                         0.00
Kurtosis:                       6.207   Cond. No.                         15.7
==============================================================================

Notes:
[1] Standard Errors are robust to cluster correlation (cluster)

In [42]:
# Modelo 2

formula_model2 = "precio ~ ln_vol + trim2 + trim3+trim4 "

ols_model2 = smf.ols(formula_model2, data=dataf).fit(cov_type='cluster', cov_kwds={'groups': dataf['ubigeo']})

print(ols_model2.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                 precio   R-squared:                       0.023
Model:                            OLS   Adj. R-squared:                  0.021
Method:                 Least Squares   F-statistic:                     23.16
Date:                Mon, 06 Mar 2023   Prob (F-statistic):             0.0414
Time:                        08:51:17   Log-Likelihood:                -405.34
No. Observations:                2911   AIC:                             820.7
Df Residuals:                    2906   BIC:                             850.6
Df Model:                           4
Covariance Type:              cluster
==============================================================================
                 coef    std err          z      P>|z|      [0.025      0.975]
------------------------------------------------------------------------------
Intercept      0.7052      0.016     43.036      0.000       0.673       0.737
ln_vol         0.0022      0.001      3.017      0.003       0.001       0.004
trim2         -0.0677      0.011     -6.167      0.000      -0.089      -0.046
trim3          0.0420      0.019      2.200      0.028       0.005       0.079
trim4          0.0251      0.005      5.533      0.000       0.016       0.034
==============================================================================
Omnibus:                      782.427   Durbin-Watson:                   0.023
Prob(Omnibus):                  0.000   Jarque-Bera (JB):             2050.441
Skew:                           1.435   Prob(JB):                         0.00
Kurtosis:                       5.945   Cond. No.                         27.4
==============================================================================

Notes:
[1] Standard Errors are robust to cluster correlation (cluster)

In [43]:
# Modelo 3

formula_model3 = "ln_price ~ ln_vol + trim2 + trim3+trim4 + C(year)"

ols_model3 = smf.ols(formula_model3, data=dataf).fit(cov_type='cluster', cov_kwds={'groups': dataf['ubigeo']})

print(ols_model3.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:               ln_price   R-squared:                       0.642
Model:                            OLS   Adj. R-squared:                  0.639
Method:                 Least Squares   F-statistic:                -2.910e+15
Date:                Mon, 06 Mar 2023   Prob (F-statistic):               1.00
Time:                        08:51:17   Log-Likelihood:                 364.71
No. Observations:                2911   AIC:                            -675.4
Df Residuals:                    2884   BIC:                            -514.1
Df Model:                          26
Covariance Type:              cluster
===================================================================================
                      coef    std err          z      P>|z|      [0.025      0.975]
-----------------------------------------------------------------------------------
Intercept          -0.4773      0.002   -209.006      0.000      -0.482      -0.473
C(year)[T.1998]     0.3023      0.035      8.753      0.000       0.235       0.370
C(year)[T.1999]    -0.3259      0.006    -54.595      0.000      -0.338      -0.314
C(year)[T.2000]    -0.2546      0.001   -239.984      0.000      -0.257      -0.252
C(year)[T.2001]    -0.0080      0.021     -0.379      0.705      -0.049       0.033
C(year)[T.2002]    -0.5286      0.002   -219.092      0.000      -0.533      -0.524
C(year)[T.2003]     0.0150      0.002      7.447      0.000       0.011       0.019
C(year)[T.2004]    -0.0754      0.015     -4.948      0.000      -0.105      -0.046
C(year)[T.2005]    -0.2977      0.002   -152.045      0.000      -0.302      -0.294
C(year)[T.2006]     0.0707      0.008      9.116      0.000       0.055       0.086
C(year)[T.2007]    -0.0532      0.027     -1.969      0.049      -0.106      -0.000
C(year)[T.2008]     0.1697      0.020      8.466      0.000       0.130       0.209
C(year)[T.2009]     0.1687      0.010     17.222      0.000       0.149       0.188
C(year)[T.2010]     0.1880      0.018     10.531      0.000       0.153       0.223
C(year)[T.2011]     0.1073      0.003     39.681      0.000       0.102       0.113
C(year)[T.2012]     0.1753      0.007     24.484      0.000       0.161       0.189
C(year)[T.2013]     0.3284      0.009     37.176      0.000       0.311       0.346
C(year)[T.2014]     0.0669      0.013      5.039      0.000       0.041       0.093
C(year)[T.2015]     0.4485      0.020     22.328      0.000       0.409       0.488
C(year)[T.2016]     0.6812      0.018     37.473      0.000       0.646       0.717
C(year)[T.2017]     0.0603      0.008      7.684      0.000       0.045       0.076
C(year)[T.2018]     0.2020      0.002    134.023      0.000       0.199       0.205
C(year)[T.2019]     0.6942      0.006    118.932      0.000       0.683       0.706
ln_vol             -0.0013      0.001     -1.533      0.125      -0.003       0.000
trim2              -0.0614      0.004    -14.413      0.000      -0.070      -0.053
trim3               0.0391      0.016      2.464      0.014       0.008       0.070
trim4              -0.0127      0.001    -10.679      0.000      -0.015      -0.010
==============================================================================
Omnibus:                        0.772   Durbin-Watson:                   0.054
Prob(Omnibus):                  0.680   Jarque-Bera (JB):                0.800
Skew:                          -0.039   Prob(JB):                        0.670
Kurtosis:                       2.975   Cond. No.                         153.
==============================================================================

Notes:
[1] Standard Errors are robust to cluster correlation (cluster)

In [44]:
# Modelos 4

formula_model4 = "ln_price ~ ln_vol + trim2 + trim3+trim4 + C(year)+C(ubigeo)"

ols_model4 = smf.ols(formula_model4, data=dataf).fit(cov_type='cluster', cov_kwds={'groups': dataf['ubigeo']})

print(ols_model4.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:               ln_price   R-squared:                       0.642
Model:                            OLS   Adj. R-squared:                  0.639
Method:                 Least Squares   F-statistic:                -1.082e+16
Date:                Mon, 06 Mar 2023   Prob (F-statistic):               1.00
Time:                        08:51:17   Log-Likelihood:                 365.24
No. Observations:                2911   AIC:                            -672.5
Df Residuals:                    2882   BIC:                            -499.2
Df Model:                          28
Covariance Type:              cluster
=====================================================================================
                        coef    std err          z      P>|z|      [0.025      0.975]
-------------------------------------------------------------------------------------
Intercept            -0.4777      0.003   -183.791      0.000      -0.483      -0.473
C(year)[T.1998]       0.3020      0.035      8.650      0.000       0.234       0.370
C(year)[T.1999]      -0.3259      0.006    -54.237      0.000      -0.338      -0.314
C(year)[T.2000]      -0.2549      0.001   -234.868      0.000      -0.257      -0.253
C(year)[T.2001]      -0.0083      0.021     -0.384      0.701      -0.050       0.034
C(year)[T.2002]      -0.5288      0.002   -215.320      0.000      -0.534      -0.524
C(year)[T.2003]       0.0149      0.002      8.830      0.000       0.012       0.018
C(year)[T.2004]      -0.0750      0.015     -4.887      0.000      -0.105      -0.045
C(year)[T.2005]      -0.2976      0.002   -125.806      0.000      -0.302      -0.293
C(year)[T.2006]       0.0712      0.008      9.411      0.000       0.056       0.086
C(year)[T.2007]      -0.0524      0.027     -1.939      0.053      -0.105       0.001
C(year)[T.2008]       0.1705      0.020      8.465      0.000       0.131       0.210
C(year)[T.2009]       0.1694      0.010     17.418      0.000       0.150       0.189
C(year)[T.2010]       0.1889      0.018     10.668      0.000       0.154       0.224
C(year)[T.2011]       0.1084      0.003     34.936      0.000       0.102       0.114
C(year)[T.2012]       0.1762      0.007     24.158      0.000       0.162       0.191
C(year)[T.2013]       0.3290      0.009     37.292      0.000       0.312       0.346
C(year)[T.2014]       0.0674      0.013      5.006      0.000       0.041       0.094
C(year)[T.2015]       0.4494      0.020     22.009      0.000       0.409       0.489
C(year)[T.2016]       0.6820      0.018     36.965      0.000       0.646       0.718
C(year)[T.2017]       0.0614      0.008      7.993      0.000       0.046       0.076
C(year)[T.2018]       0.2027      0.001    138.589      0.000       0.200       0.206
C(year)[T.2019]       0.6948      0.006    115.472      0.000       0.683       0.707
C(ubigeo)[T.10.0]    -0.0069      0.001     -4.850      0.000      -0.010      -0.004
C(ubigeo)[T.12.0]     0.0030      0.001      4.847      0.000       0.002       0.004
ln_vol               -0.0013      0.001     -1.482      0.138      -0.003       0.000
trim2                -0.0617      0.005    -13.439      0.000      -0.071      -0.053
trim3                 0.0389      0.016      2.440      0.015       0.008       0.070
trim4                -0.0124      0.001    -15.609      0.000      -0.014      -0.011
==============================================================================
Omnibus:                        0.761   Durbin-Watson:                   0.054
Prob(Omnibus):                  0.684   Jarque-Bera (JB):                0.787
Skew:                          -0.038   Prob(JB):                        0.675
Kurtosis:                       2.976   Cond. No.                         155.
==============================================================================

Notes:
[1] Standard Errors are robust to cluster correlation (cluster)

In [45]:
# Modelos 5

formula_model5 = "ln_price ~ ln_vol + trim2 + trim3+trim4 + C(year)+C(provincia)"

ols_model5 = smf.ols(formula_model5, data=dataf).fit(cov_type='cluster', cov_kwds={'groups': dataf['ubigeo']})

print(ols_model5.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:               ln_price   R-squared:                       0.645
Model:                            OLS   Adj. R-squared:                  0.638
Method:                 Least Squares   F-statistic:                -2.491e+14
Date:                Mon, 06 Mar 2023   Prob (F-statistic):               1.00
Time:                        08:51:17   Log-Likelihood:                 376.74
No. Observations:                2911   AIC:                            -641.5
Df Residuals:                    2855   BIC:                            -306.8
Df Model:                          55
Covariance Type:              cluster
==========================================================================================================
                                             coef    std err          z      P>|z|      [0.025      0.975]
----------------------------------------------------------------------------------------------------------
Intercept                                 -0.4771      0.010    -46.131      0.000      -0.497      -0.457
C(year)[T.1998]                            0.3020      0.037      8.260      0.000       0.230       0.374
C(year)[T.1999]                           -0.3275      0.008    -39.970      0.000      -0.344      -0.311
C(year)[T.2000]                           -0.2558      0.003    -99.966      0.000      -0.261      -0.251
C(year)[T.2001]                           -0.0078      0.023     -0.345      0.730      -0.052       0.037
C(year)[T.2002]                           -0.5273      0.003   -169.251      0.000      -0.533      -0.521
C(year)[T.2003]                            0.0129      0.003      4.243      0.000       0.007       0.019
C(year)[T.2004]                           -0.0737      0.018     -4.019      0.000      -0.110      -0.038
C(year)[T.2005]                           -0.2980      0.005    -61.934      0.000      -0.307      -0.289
C(year)[T.2006]                            0.0718      0.006     11.553      0.000       0.060       0.084
C(year)[T.2007]                           -0.0537      0.025     -2.125      0.034      -0.103      -0.004
C(year)[T.2008]                            0.1732      0.018      9.594      0.000       0.138       0.209
C(year)[T.2009]                            0.1713      0.010     16.523      0.000       0.151       0.192
C(year)[T.2010]                            0.1888      0.019      9.946      0.000       0.152       0.226
C(year)[T.2011]                            0.1091      0.003     36.431      0.000       0.103       0.115
C(year)[T.2012]                            0.1767      0.006     29.377      0.000       0.165       0.188
C(year)[T.2013]                            0.3245      0.006     52.641      0.000       0.312       0.337
C(year)[T.2014]                            0.0631      0.011      5.949      0.000       0.042       0.084
C(year)[T.2015]                            0.4505      0.022     20.951      0.000       0.408       0.493
C(year)[T.2016]                            0.6823      0.018     36.928      0.000       0.646       0.719
C(year)[T.2017]                            0.0628      0.008      8.096      0.000       0.048       0.078
C(year)[T.2018]                            0.2037      0.001    143.840      0.000       0.201       0.206
C(year)[T.2019]                            0.6940      0.006    120.697      0.000       0.683       0.705
C(provincia)[T.Chanchamayo]                0.1347      0.001    138.014      0.000       0.133       0.137
C(provincia)[T.Chupaca]                    0.0018      0.001      1.229      0.219      -0.001       0.005
C(provincia)[T.Concepcion]                 0.0194      0.001     24.486      0.000       0.018       0.021
C(provincia)[T.Daniel Alcides Carrion]    -0.0027      0.003     -0.888      0.375      -0.009       0.003
C(provincia)[T.Dos De Mayo]                0.0255      0.003      8.514      0.000       0.020       0.031
C(provincia)[T.Huamalies]                 -0.0147      0.001    -15.789      0.000      -0.017      -0.013
C(provincia)[T.Huamanga]                   0.0144      0.003      4.992      0.000       0.009       0.020
C(provincia)[T.Huanca Sancos]              0.0428      0.004     10.765      0.000       0.035       0.051
C(provincia)[T.Huancayo]                   0.0111      0.003      3.392      0.001       0.005       0.017
C(provincia)[T.Huanta]                    -0.0124      0.001    -18.857      0.000      -0.014      -0.011
C(provincia)[T.Huanuco]                    0.0120      0.004      3.405      0.001       0.005       0.019
C(provincia)[T.Jauja]                      0.0133      0.003      5.067      0.000       0.008       0.019
C(provincia)[T.Julcan]                     0.3077      0.011     29.298      0.000       0.287       0.328
C(provincia)[T.Junin]                      0.0055      0.001      4.639      0.000       0.003       0.008
C(provincia)[T.La Mar]                     0.0467      0.006      7.702      0.000       0.035       0.059
C(provincia)[T.Leoncio Prado]              0.0467      0.003     17.530      0.000       0.042       0.052
C(provincia)[T.Lucanas]                   -0.0260      0.001    -39.711      0.000      -0.027      -0.025
C(provincia)[T.Maranon]                   -0.1945      0.018    -10.885      0.000      -0.230      -0.159
C(provincia)[T.Oxapampa]                  -0.0029      0.004     -0.790      0.430      -0.010       0.004
C(provincia)[T.Pachitea]                  -0.0252      0.003     -9.028      0.000      -0.031      -0.020
C(provincia)[T.Parinacochas]              -0.0073      0.007     -1.098      0.272      -0.020       0.006
C(provincia)[T.Paucar Del Sar Sara]        0.1532      0.012     12.530      0.000       0.129       0.177
C(provincia)[T.Satipo]                    -0.0330      0.009     -3.871      0.000      -0.050      -0.016
C(provincia)[T.Sucre]                      0.0321      0.005      5.947      0.000       0.021       0.043
C(provincia)[T.Tarma]                      0.0080      0.003      3.159      0.002       0.003       0.013
C(provincia)[T.Tayacaja]                   0.0042      0.001      3.134      0.002       0.002       0.007
C(provincia)[T.Victor Fajardo]             0.1390      0.025      5.595      0.000       0.090       0.188
C(provincia)[T.Vilcas Huaman]              0.0019      0.007      0.260      0.795      -0.012       0.016
C(provincia)[T.Yauli]                      0.0379      0.003     12.768      0.000       0.032       0.044
ln_vol                                    -0.0025      0.001     -3.461      0.001      -0.004      -0.001
trim2                                     -0.0632      0.005    -12.530      0.000      -0.073      -0.053
trim3                                      0.0390      0.016      2.482      0.013       0.008       0.070
trim4                                     -0.0144      0.003     -4.503      0.000      -0.021      -0.008
==============================================================================
Omnibus:                        0.718   Durbin-Watson:                   0.068
Prob(Omnibus):                  0.699   Jarque-Bera (JB):                0.729
Skew:                          -0.038   Prob(JB):                        0.694
Kurtosis:                       2.987   Cond. No.                         331.
==============================================================================

Notes:
[1] Standard Errors are robust to cluster correlation (cluster)

In [46]:
datafnm = dataf[(~dataf.spi_lag.isna()) & (~dataf.spi.isna())]

formula_model7 = "ln_price ~ [ln_vol ~ spi] + trim2 + trim3+trim4 + C(year)+C(provincia)"

iv_model_3 = IV2SLS.from_formula(formula_model7, datafnm).fit(cov_type='clustered',  clusters = datafnm['ubigeo'],
                                                            debiased=True)

print(iv_model_3)

                          IV-2SLS Estimation Summary
==============================================================================
Dep. Variable:               ln_price   R-squared:                     -7.2304
Estimator:                    IV-2SLS   Adj. R-squared:                -7.3937
No. Observations:                2776   F-statistic:                 9.145e+10
Date:                Mon, Mar 06 2023   P-value (F-stat)                0.0000
Time:                        08:51:17   Distribution:               F(55,2721)
Cov. Estimator:             clustered

                                           Parameter Estimates
==========================================================================================================
                                        Parameter  Std. Err.     T-stat    P-value    Lower CI    Upper CI
----------------------------------------------------------------------------------------------------------
C(provincia)[T.Cangallo]                   2.2765     24.524     0.0928     0.9260     -45.812      50.365
C(provincia)[T.Chanchamayo]                2.0634     21.631     0.0954     0.9240     -40.351      44.477
C(provincia)[T.Chupaca]                    1.6386     18.861     0.0869     0.9308     -35.344      38.621
C(provincia)[T.Concepcion]                 2.0583     22.438     0.0917     0.9269     -41.938      46.055
C(provincia)[T.Daniel Alcides Carrion]     2.7553     28.925     0.0953     0.9241     -53.962      59.473
C(provincia)[T.Dos De Mayo]                2.2444     24.181     0.0928     0.9261     -45.170      49.659
C(provincia)[T.Huamalies]                  2.3479     25.486     0.0921     0.9266     -47.625      52.321
C(provincia)[T.Huamanga]                   5.1060     49.890     0.1023     0.9185     -92.720      102.93
C(provincia)[T.Huanca Sancos]              2.1100     22.990     0.0918     0.9269     -42.969      47.189
C(provincia)[T.Huancayo]                   5.6068     54.430     0.1030     0.9180     -101.12      112.34
C(provincia)[T.Huanta]                     2.6777     28.246     0.0948     0.9245     -52.708      58.064
C(provincia)[T.Huanuco]                    5.8971     57.024     0.1034     0.9176     -105.92      117.71
C(provincia)[T.Jauja]                      4.5119     44.569     0.1012     0.9194     -82.881      91.905
C(provincia)[T.Julcan]                     3.1143     29.216     0.1066     0.9151     -54.173      60.402
C(provincia)[T.Junin]                      3.2167     33.013     0.0974     0.9224     -61.516      67.949
C(provincia)[T.La Mar]                     1.6886     18.820     0.0897     0.9285     -35.213      38.591
C(provincia)[T.Leoncio Prado]              1.5959     18.072     0.0883     0.9296     -33.840      37.031
C(provincia)[T.Lucanas]                    1.9427     21.756     0.0893     0.9289     -40.717      44.603
C(provincia)[T.Maranon]                    1.5857     19.991     0.0793     0.9368     -37.613      40.784
C(provincia)[T.Oxapampa]                   1.9323     21.540     0.0897     0.9285     -40.304      44.169
C(provincia)[T.Pachitea]                   2.8771     30.297     0.0950     0.9244     -56.530      62.284
C(provincia)[T.Parinacochas]               1.6880     19.226     0.0878     0.9300     -36.010      39.386
C(provincia)[T.Paucar Del Sar Sara]        1.3419     14.192     0.0946     0.9247     -26.485      29.169
C(provincia)[T.Satipo]                     1.8695     21.362     0.0875     0.9303     -40.018      43.757
C(provincia)[T.Sucre]                      2.5632     26.758     0.0958     0.9237     -49.906      55.032
C(provincia)[T.Tarma]                      4.7979     47.197     0.1017     0.9190     -87.747      97.343
C(provincia)[T.Tayacaja]                   3.5598     36.112     0.0986     0.9215     -67.249      74.369
C(provincia)[T.Victor Fajardo]             1.5503     16.635     0.0932     0.9258     -31.069      34.169
C(provincia)[T.Vilcas Huaman]              1.6447     18.791     0.0875     0.9303     -35.201      38.490
C(provincia)[T.Yauli]                      1.7036     19.050     0.0894     0.9287     -35.651      39.058
C(year)[T.1998]                            0.0891     1.8558     0.0480     0.9617     -3.5499      3.7281
C(year)[T.1999]                           -0.4853     1.2757    -0.3805     0.7036     -2.9867      2.0160
C(year)[T.2000]                           -0.4399     1.5358    -0.2865     0.7746     -3.4514      2.5715
C(year)[T.2001]                           -0.3035     2.5782    -0.1177     0.9063     -5.3589      4.7519
C(year)[T.2002]                           -0.6900     1.3869    -0.4975     0.6188     -3.4095      2.0294
C(year)[T.2003]                           -0.3265     2.9704    -0.1099     0.9125     -6.1510      5.4979
C(year)[T.2004]                           -0.1663     0.7916    -0.2101     0.8336     -1.7185      1.3859
C(year)[T.2005]                           -0.4695     1.4128    -0.3323     0.7397     -3.2398      2.3008
C(year)[T.2006]                           -0.0598     1.1270    -0.0531     0.9577     -2.2697      2.1501
C(year)[T.2007]                           -0.1606     0.9027    -0.1779     0.8588     -1.9306      1.6095
C(year)[T.2008]                            0.1030     0.6380     0.1614     0.8718     -1.1481      1.3541
C(year)[T.2009]                            0.0014     1.4858     0.0010     0.9992     -2.9121      2.9149
C(year)[T.2010]                           -0.0101     1.7978    -0.0056     0.9955     -3.5353      3.5151
C(year)[T.2011]                            0.0208     0.7976     0.0261     0.9792     -1.5431      1.5848
C(year)[T.2012]                            0.0166     1.4366     0.0115     0.9908     -2.8004      2.8335
C(year)[T.2013]                            0.1492     1.4916     0.1000     0.9204     -2.7757      3.0740
C(year)[T.2014]                            0.1488     0.9444     0.1575     0.8748     -1.7030      2.0006
C(year)[T.2015]                            0.5175     0.6860     0.7543     0.4507     -0.8277      1.8627
C(year)[T.2016]                            0.5863     0.9260     0.6332     0.5267     -1.2294      2.4020
C(year)[T.2017]                            0.0632     0.2907     0.2175     0.8278     -0.5067      0.6332
C(year)[T.2018]                            0.1633     0.3837     0.4255     0.6705     -0.5892      0.9157
trim2                                      0.2440     2.9327     0.0832     0.9337     -5.5065      5.9945
trim3                                     -0.1151     1.2540    -0.0918     0.9269     -2.5741      2.3438
trim4                                     -1.0177     9.2655    -0.1098     0.9125     -19.186      17.150
ln_vol                                    -0.7397     6.6178    -0.1118     0.9110     -13.716      12.237
==========================================================================================================

Endogenous: ln_vol
Instruments: spi
Clustered Covariance (One-Way)
Debiased: True
Num Clusters: 3

In [47]:
datafnm

,mm,year,nmes,variedad,provincia,volumen,precio,month,ubigeo,dep,spi,import,ln_price,ln_vol,trim1,trim2,trim3,trim4,ln_import,spi_lag
5,1997-01-01,1997,1,Papa Blanca,Concepcion,79.44,0.56,1,12.0,JunÃ­n,-0.26,NaN,-0.579818,4.375002,1,0,0,0,NaN,-0.31
6,1997-01-01,1997,1,Papa Blanca,Pachitea,978.36,0.56,1,10.0,HuÃ¡nuco,-0.31,NaN,-0.579818,6.885878,1,0,0,0,NaN,-0.26
7,1997-01-01,1997,1,Papa Blanca,Huancayo,1170.75,0.56,1,12.0,JunÃ­n,-0.26,NaN,-0.579818,7.065400,1,0,0,0,NaN,-0.31
8,1997-01-01,1997,1,Papa Blanca,Oxapampa,10.20,0.56,1,12.0,JunÃ­n,-0.26,NaN,-0.579818,2.322388,1,0,0,0,NaN,-0.26
9,1997-01-01,1997,1,Papa Blanca,Tayacaja,235.44,0.56,1,12.0,JunÃ­n,-0.26,NaN,-0.579818,5.461456,1,0,0,0,NaN,-0.26
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7125,2018-12-01,2018,12,Papa Blanca,Jauja,63.00,0.92,12,12.0,JunÃ­n,-0.14,NaN,-0.083382,4.143135,0,0,0,1,NaN,-0.14
7127,2018-12-01,2018,12,Papa Blanca,Huancayo,2707.00,0.92,12,12.0,JunÃ­n,-0.14,NaN,-0.083382,7.903596,0,0,0,1,NaN,-0.14
7129,2018-12-01,2018,12,Papa Blanca,Huamanga,241.00,0.92,12,5.0,Ayacucho,0.41,NaN,-0.083382,5.484797,0,0,0,1,NaN,-0.14
7132,2018-12-01,2018,12,Papa Blanca,Tarma,3852.00,0.92,12,12.0,JunÃ­n,-0.14,NaN,-0.083382,8.256348,0,0,0,1,NaN,0.41
7135,2018-12-01,2018,12,Papa Blanca,Huanuco,10865.00,0.92,12,10.0,HuÃ¡nuco,-0.78,NaN,-0.083382,9.293302,0,0,0,1,NaN,-0.14